/* Style for all help pages (only the style for the web based help) */

html {
	border:0px;
	height:100%;
}

	
body {	
	text-align: left;
	margin-top:10px;
	margin-left:14px;
	font-family: Verdana,sans-serif; 
	font-size: 14px;
	color:#000;
} 

h1 {
	text-align:left;
	font-family: Georgia,"Times New Roman",Times,serif; 
	font-size: 24px;
	font-weight:normal;
	color:#222;
	margin-top: 30px;
	width: 90%;
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
} 

h2 {
	text-align:left;
	font-family: Georgia,"Times New Roman",Times,serif; 
	font-size: 16pt;
	font-weight:normal;
	color:#458;
	margin-top: 40px;
	width: 70%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
} 

h6 {
	padding-left:10px;
	font-size: 14px;
	font-weight:bold;
	color:#000;
	margin-bottom: 0px;
} 

b, dt{
	font-weight: bold;
	color: #458;
}


#heading {
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}

p {
	padding-left:10px;
	line-height:1.7em;
}

	
a {
	color:#000000;
	text-decoration:underline;
}


.screenshot {
	border: 1px solid #000;
	margin: 5px 10px 10px 10px;
}	

.screenshotnoborder {
	border: none;
	margin: 5px 10px 10px 10px;
    max-width: 15cm;
}	
	
.icon {
	border: none;
	margin: 5px 10px 10px 10px;
}	

.usertext {
	font-family: "Courier New",Courier,monospace; 
	font-weight: bold;
	color: #458;

}

.code {
	margin-left:10px;
	font-family: "Courier New",Courier,monospace; 
	font-weight: normal;
	color: #000;
	background-color: #f0f4f8;
	border: 1px solid #888;
}

.documenttext {
	margin-left:10px;
	font-size: 17px;
	font-family: Georgia,"Times New Roman",Times,serif; 
	font-weight: normal;
	color: #000;
	background-color: #f0f4f8;
	border: 1px solid #888;
}

.see {
	font-weight: bold;
	color: #458;
}

.icon_filename {
	font-size: 20px;
}

.black {
	color: #000;
}

.red {
	color: #F00;
}

.licenselist {
	margin-left: 20px;
}

.smallfooter {
	color: #888;
	font-size: 9px;
}


